* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-500: #1992D4;
  --orange-500: #F2C764;
  --grey-100: #E2E8F0;

  --color-primary: var(--blue-500);
  --color-accent: var(--orange-500);
  --color-default: var(--grey-100);
}

/* Profile pictures */
.morgan {
  fill: #FACC15;
}

.tegan {
  fill: #E0F2FE;
}

.kendall {
  fill: #A3A3A3;
}

.alex {
  fill: #DAA2A6;
}

/* Remove the defaut styling of lists */
.nav ul,
.block ul {
  list-style-type: none;
}

/* Styling native UI componenets */
button, input {
  font-family: inherit;
  font-size: 100%;
  appearance: none;
  display: block;
  margin: 0;
  padding: 10px 20px;
  height: 30px;
  border-radius: 15px;
  border: none;
}

/* Use grid layout for the page */
.container {
  display: grid;
  grid-template:
    "sidebar topbar" auto
    "sidebar page-header" auto
    "sidebar main" auto / 1fr 4fr;
}

.sidebar {
  grid-area: sidebar;
}

.topbar {
  grid-area: topbar;
}

main {
  grid-area: main;
}

/* SIDEBAR */

/* Add padding to sidebar */
.sidebar {
  padding: 1rem;
}

/* Add vertical gaps between logo and sidebar navigation menus */
.sidebar,
.sidebar-nav {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 2rem;
}

/* Add vertical gaps between items of sidebar navigation menus */
.sidebar-nav .menu {
  display: grid;
  gap: 0.5rem;
}

/* Add horizontal gaps between icons and text and center them */
.sidebar .logo,
.sidebar .sidebar-nav .menu .item {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
}

.sidebar .logo {
  gap: 0.5rem;
}

.sidebar .sidebar-nav .menu .item {
  gap: 1rem;
}

/* Change color of sidebar to blue */
.sidebar {
  background-color: var(--color-primary);
}

/* Change color of icons and text to white */
.sidebar > *,
.sidebar svg {
  color: white;
  fill: white;
}

/* Change logo text size */
.sidebar .logo {
  font-size: 0.8em;
}

/* TOPBAR AND PAGE HEADER */

/* Add padding and gap to topbar and page header and center them */
.topbar .search_bar,
.topbar .actions,
.page-header .greeting,
.page-header .actions {
  align-items: center;
  padding: 1rem 3.5rem 0.5rem 1.5rem;
  gap: 1rem;
}

/* TOPBAR */

/* Align search bar and actions */
.topbar {
  display: grid;
  grid-template-columns: 1fr auto;
}

.topbar .search_bar {
  display: grid;
  grid-template-columns: auto 1fr;
}

.search_bar input {
  width: 100%;
}

.topbar .actions {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Change color of search bar to grey */
.search_bar input {
  background-color: var(--color-default);
}

/* Change account font weight */
.actions {
  font-weight: bold;
}

/* PAGE HEADER */

/* Align greeting, text, and actions */
.page-header {
  grid-area: page-header;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.page-header .greeting {
  display: grid;
  grid-template-columns: auto auto;
}

.page-header .actions {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Change color of buttons to blue and color of text to white */
.page-header .actions button {
  background-color: var(--color-primary);
  color: white;
}

/* Change username text size */
.greeting .text p:nth-child(2) {
  font-size: 1.4rem;
}

/* Change greeting font weight */
.greeting .text {
  font-weight: bold;
}

/* MAIN */

/* Use grid layout for main content */
main {
  display: grid;
  grid-template:
   "main-content pannel" auto / 3fr 1fr;
}

.pannel {
  grid-area: pannel;
}

.main-content {
  grid-area: main-content;
}

/* Add padding to main and gap between project, announcements, and trending */
main {
  padding: 2rem 1.8rem 3rem 1.2rem;
  gap: 1.5rem;
}

/* Align project, announcements, and trending */
.main-content {
  grid-template-rows: min-content min-content;
}

.main-content,
.pannel .announcements,
.pannel .trending {
  display: grid;
  gap: 0.8rem;
}


/* Align cards and add gap between them */
.main-content .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 1.7rem;
}

/* Add height to cards */
.main-content .cards .card {
  height: 215px;
}

/* Align card text */
.main-content .cards .card .text {
  padding-right: 0.5rem;
}

/* Align card actions */
.main-content .cards .card {
  display: grid;
}

.card .actions {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

/* Change main color to grey */
main {
  background-color: var(--color-default);
}

/* Change card side color to orange */
.card {
  border-left: 7px solid var(--color-accent);
}

/* PANNEL */

/* Align announcements and trending */
.pannel {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 2rem;
}

/* Add grey stripes to announcements */
.announcements .block ul li:first-child {
  padding-bottom: 1rem;
}

.announcements .block ul li:not(:first-child):not(:last-child) {
  padding: 1rem 0;
}

.announcements .block ul li:last-child {
  padding-top: 1rem;
}

.announcements .block ul li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

/* Align profile pictures, usernames, and text */
.trending .block ul li {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Change announcements text size */
.announcements .block ul {
  font-size: 0.9em
}

/* Formatting cards and blocks */
.card,
.announcements .block {
  padding: 2rem;
  border-radius: 10px;
}

.trending .block {
  padding: 1rem;
  border-radius: 10px;
}

.trending .block h3 {
  font-size: 1.15em;
  font-weight: normal;
}

.trending .block ul li:first-child {
  padding-bottom: 0.5rem;
}

.trending .block ul li:not(:first-child):not(:last-child) {
  padding: 0.5rem 0;
}

.trending .block ul li:last-child {
  padding-top: 0.5rem;
}

.trending .block ul li {
  display: grid;
  gap: 0.5rem;
}

/* Styling cards and blocks */
.card,
.block {
  background-color: white;
}
